$btn-orange: #FF9000;
$content-bg: #eff2f9;
$orange-two: #ffd297;
$unav-grey:  grey;

html, body, .page-wrapper {
	height: 100%;
	width: 100%;
	font-size: 16px;
}

.page-wrapper {	
	padding: 0;

	.background {
		background: url('../images/bg.jpg') center center no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: -1;
	}

	&.no-flow {
		overflow-x: hidden;
		overflow-y: hidden;
	}

	aside {
		position: relative;
		height: 100%;
		padding: 5%;
		background-color: white;
		opacity: .9;
		z-index: 0;
		-webkit-transition: transform 800ms ease-in-out;
		-ms-transition: transform 800ms ease-in-out;
		transition: transform 800ms ease-in-out;

		&.invisible {
			transform: translateX(-100%);
			-webkit-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			position: absolute;	
		}

		button {
			border-radius: 20%;
			background-color: $btn-orange;
			color: white;
			font-weight: bold;
			padding: 10px;
			cursor: pointer;
		}
	}

	.content {
		position: relative;
		top: 50%;
		background-color: $content-bg;
		min-height: 100%;
		height: auto;
		overflow: hidden;
		opacity: .9;
		z-index: 0;
		padding: 5% 15%;
		-webkit-transition: top 750ms ease-in-out;
		-ms-transition: top 750ms ease-in-out;
		transition: top 750ms ease-in-out;

		&.pushed-down {
			position: relative;
			top: 100%;
		}

		section.exp .row {
			-webkit-transition: all 750ms ease-in-out;
			-ms-transition: all 750ms ease-in-out;
			transition: all 750ms ease-in-out;
			margin-bottom: 50px;
			position: relative;

			@media screen and (max-width: 40em) {
				height: auto;
				min-height: 35%;	
			}
			@media screen and (min-width: 40em) {
				height: 55%;	
			}
			@media screen and (min-width: 976px) {
				height: 35%;	
			}

			> .columns {
				@media screen and (min-width: 40em) {
					height: 100%;	
				}
				@media screen and (max-width: 40em) {
					margin: 25px 0;	
				}
				position: relative;
				display: table;

				div {
					display: table-cell;
					vertical-align: middle;
				}
			}

			&:first-child .columns:first-child:hover {
				i:before {
					color: $btn-orange;
				}
			}

			&:nth-child(2) {
				.columns:first-child:hover {
					background-color: $orange-two;
				}
			}

			&:nth-child(3) {
				i {
					font-weight: bold;
					color: $btn-orange;
				}
			}

			.columns:first-child {
				text-align: center;
				
				-webkit-transition: all 700ms ease-in-out;
				-ms-transition: all 700ms ease-in-out;
				transition: all 700ms ease-in-out;

				div {
					i {
						font-size: 100px;
					}

					i:before {
						-webkit-transition: color 700ms ease-in-out;
						-ms-transition: color 700ms ease-in-out;
						transition: color 700ms ease-in-out;
					}
				}
			}
		}

		.portfolio {
			-webkit-transition: all 750ms ease-in-out;
			-ms-transition: all 750ms ease-in-out;
			transition: all 750ms ease-in-out;
			margin-bottom: 25px;

			.columns {
				margin-bottom: 15px;

				a:last-child {
					float: right;
				}
			}
		}
		

		.button-group {
			text-align: center;

			&:before {
				content: ' ';
				width: 100%;
				height: 3px;
				color: black;
				background: black;
				margin: 0 auto;
				display: block;
				margin-bottom: 50px;
			}

			a {
				background-color: $btn-orange;
				color: white;
				border-radius: 20%;
				margin: 4px;
				font-weight: bold;
			}
		}
	}
	.fadeOut {
		opacity: 0;
		z-index: -1;
	}
	.unavailable {
		pointer-events: none;
		cursor: default;
		color: $unav-grey;
	}
}
