$textColor: #ffcc00;
$bgColor: #6600cc;
$completedColor: #cc0000;
$links: #63D1F4;

html,body{
	background-color: $bgColor;
	color: $textColor;
}

header{
	text-align: center;
	input{
		width: 50%;
		height: 50px;
		font-size: 30px;
	}
}

.link:hover{
	color: $links;
}

.spacing{
	padding-left: 20%;
	margin-top: 3%;
}

section#main{
	@extend .spacing;

	font-size: 20px;	
	ul{
		list-style-type: none;
		padding: 0;

		li{
			width: 70%;
			min-height: 30px;
			line-height: 30px;

			span.options {
				display: none;
				margin-left: 10px;
			}
		}

		li.editing{
			input[type="text"], span.options{
				display: inline-block!important;
			}
			div.view{
				display: none;
			}
		}

		.overlap{
			position: absolute;
			display: inline-block;
		}
		input[type="text"]{
			display: none;
			height: 20px;
			width: 60%;
		}

		div.view{
			@extend .overlap;
			min-width: 45%;

			span{
				@extend .overlap;
				word-break: break-word;
				min-width: 30%;
			}

			input[type="checkbox"]:checked + span{
				color: $completedColor;
			}
		}

		li:not(.editing):hover i{
			visibility: visible!important;
		}
		i{
			visibility: hidden;
			float: right;
			height: 30px;
			width: 30px;
			clear: both;
			text-align: center;
			border-radius: 100%;
			background-color: $textColor;
			color: $completedColor;
		}
		i:before{
			line-height: 30px;
		}

		.editBtns{
			float: right;
			margin-left: 7px;
		}
	}
}

footer{
	@extend .spacing;
	#clear-completed{
		color: $completedColor;
	}
}