html, body, .page-wrapper {
  height: 100%;
  width: 100%;
  font-size: 16px; }

.page-wrapper {
  padding: 0; }
  .page-wrapper .background {
    background: url("../images/bg.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1; }
  .page-wrapper.no-flow {
    overflow-x: hidden;
    overflow-y: hidden; }
  .page-wrapper aside {
    position: relative;
    height: 100%;
    padding: 5%;
    background-color: white;
    opacity: .9;
    z-index: 0;
    -webkit-transition: transform 800ms ease-in-out;
    -ms-transition: transform 800ms ease-in-out;
    transition: transform 800ms ease-in-out; }
    .page-wrapper aside.invisible {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      position: absolute; }
    .page-wrapper aside button {
      border-radius: 20%;
      background-color: #FF9000;
      color: white;
      font-weight: bold;
      padding: 10px;
      cursor: pointer; }
  .page-wrapper .content {
    position: relative;
    top: 50%;
    background-color: #eff2f9;
    overflow: auto;
    opacity: .9;
    z-index: 0;
    padding: 5% 15%;
    -webkit-transition: top 1s ease-in-out;
    -ms-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out; }
    .page-wrapper .content.pushed-down {
      position: relative;
      top: 100%; }
    .page-wrapper .content .row {
      margin-bottom: 50px; }
    .page-wrapper .content .row:first-child .exp-img:hover i:before {
      color: #FF9000; }
    @media screen and (max-width: 40em) {
      .page-wrapper .content .row:nth-child(2) .exp-img {
        padding-top: 15% !important;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%); }
      .page-wrapper .content .row:nth-child(2) .columns:first-child {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%); } }
    .page-wrapper .content .row:nth-child(2) .exp-img:hover {
      background-color: #ffd297; }
    .page-wrapper .content .row:nth-child(3) i {
      font-weight: bold;
      color: #FF9000; }
    .page-wrapper .content .exp-img {
      height: 30%;
      text-align: center;
      padding-top: 4%;
      -webkit-transition: all 700ms ease-in-out;
      -ms-transition: all 700ms ease-in-out;
      transition: all 700ms ease-in-out; }
      .page-wrapper .content .exp-img i {
        font-size: 100px; }
      .page-wrapper .content .exp-img i:before {
        -webkit-transition: color 700ms ease-in-out;
        -ms-transition: color 700ms ease-in-out;
        transition: color 700ms ease-in-out; }
    .page-wrapper .content .button-group {
      text-align: center; }
      .page-wrapper .content .button-group:before {
        content: ' ';
        width: 100%;
        height: 3px;
        color: black;
        background: black;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px; }
      .page-wrapper .content .button-group a {
        background-color: #FF9000;
        color: white;
        border-radius: 20%;
        margin: 4px;
        font-weight: bold; }

/*# sourceMappingURL=demo.css.map */
