html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

td:last-child {
  padding-left: 15px;
}

#dead,#start {
	display:none;
}
#players, #projectiles{
	position  : absolute;
	height    : 100%;
	width     : 100%;
	top       : 0px;
	left      : 0px;
}

#players {
	z-index   : -1;
  background: url('../images/bg.gif') no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

#projectiles {
	z-index   : 0;
  background: transparent;
}

#starting {
background: url(../images/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#yayDone { 
  background: url(../images/end.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#yayDone1 { 
  background: url(../images/ily.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}